@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.cdnfonts.com/css/times-new-normal');

/* animations */

@keyframes defaultLoad {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

::-webkit-scrollbar {
    width: 0px;
}

* { color: white; }

html, body { height: 100vh; }

body {
    margin: 0px;
    background-color: black;
    position: relative;
    cursor: none;
}

.cursorIndicator {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    z-index: 99;

    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    transition: 300ms;
}

.mainCursor {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    z-index: 98;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

header {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 10vh 1fr;

    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/background/blackSandBg.jpg);
    background-size: cover;
    filter: brightness(40%);
    z-index: -999;
}

.defaultState {
    opacity: 0;
    transform: translateY(-10px);
}

.defaultAnimation {
    animation: defaultLoad 1s cubic-bezier(0,0,0,1) forwards;
}

.description {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
}

.headerSection3 {
    grid-area: 2/3/3/4;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
}

.quote {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 100;

    width: 50%;
}

.quote > span {
    font-family: 'Times New Normal';
}

header > nav {
    grid-area: 1/3/2/4;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

header > nav > ul > li > a {
    text-decoration: none;
    cursor: none;
}

header > nav > ul {
    display: flex;
    gap: 10px;
}

header > nav > ul > li { 
    transition: 300ms; 
    position: relative;
}

.currentPage {
    font-family: 'Times New Normal', sans-serif;
    font-style: italic;

    transform: scale(1.2);
}

header > nav > ul > li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: .015px;
    bottom: -5px;
    background-color: white;
    left: 0px;
    transition: 300ms;
}

header > nav > ul > li:hover {
    transform: scale(1.15);
}

header > nav > ul > li:hover::after {
    width: 100%;
}

header > nav > ul > li { list-style-type: none; }

header > .subtext {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    margin: 50px 100px;
}

.headerSection1 {
    grid-area: 2/1/3/2;

    height: 100%;
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 100px;
}

.headerSection1 > .title {
    font-weight: 200;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerSection1 > .title > .secondary {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

.headerSection1 > .title > .main {
    font-style: italic;
    font-size: 2rem;
    animation-delay: 200ms;
    font-family: 'Times New Normal', sans-serif;
}

.line {
    animation-delay: 400ms;
    background-color: black;
    height: 2px;
    width: 75%;
}

.headerSection1 > .description {
    width: 50%;

    margin-top: 50px;

    animation-delay: 600ms;
    animation-duration: 1.5s;
}

.subject { margin: 100px; }

main > .subject > .heading {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

main > .subject > .heading > .title {
    font-family: 'Times New Normal', sans-serif;
    font-size: 2rem;
}

main > .subject > .heading > .description {
    width: 30vw;
}

main > .subject > .imageGallery > .image > .projectInfo {
    opacity: 0;
    transition: 300ms;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;

    pointer-events: none;
    display: flex;
    flex-direction: column;
}

main > .subject > .imageGallery > .image > .projectInfo > .title {
    font-family: 'Times New Normal', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

main > .subject > .imageGallery > .image > .projectInfo > .description {
    font-size: 0.8rem;
    width: 50%;
}

main > .subject > .imageGallery > .image:hover > .projectInfo  {
    opacity: 1;
}


main > .english > .imageGallery {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
    width: 100%;
    aspect-ratio: 3/2;
}

main > .subject > .imageGallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: invert(95%);
        transition: 300ms;
        transform: scale(1.01);
}

main > .subject > .imageGallery > .image {
    overflow: hidden;
    position: relative;
}

main > .subject > .imageGallery > .image:hover > img {
    transform: scale(1.1);
    filter: invert(95%) brightness(20%);
}

main > .english > .imageGallery > .image1 {
    grid-area: 1/1/2/3;
}

main > .english > .imageGallery > .image4 { grid-area: 2/2/3/4; }

main > .globalPerspectives > .imageGallery {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    
    width: 100%;
    aspect-ratio: 3/1;
}

main > .history > .imageGallery {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    
    width: 100%;
    aspect-ratio: 1/1;
}

main > .biology > .imageGallery {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    
    width: 100%;
    aspect-ratio: 2/1;
}

main > .chemistry > .imageGallery {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    
    width: 50%;
    /* aspect-ratio: 1/1.41; */
    height: auto;
}

main > .chemistry > .imageGallery > .image1 > img { filter: invert(0%) brightness(80%); }
main > .chemistry > .imageGallery > .image1:hover > img { filter: invert(0%) brightness(20%); }

main > .bahasaIndonesia > .imageGallery {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    width: 100%;
}

main > .bahasaIndonesia > .imageGallery > .image1 > img { filter: invert(0%) brightness(80%); }
main > .bahasaIndonesia > .imageGallery > .image1:hover > img { filter: invert(0%) brightness(20%); }